name: Crash Diagnostics Build
on: [push, pull_request]
jobs:
  go-build:
    name: Build-Test-Binary
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13.x
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1
 
    - name: test
      run: |
        sudo ufw allow 2200:2300/tcp
        sudo ufw enable
        sudo ufw status verbose
        mkdir -p ~/.ssh
        chmod 765 ~/.ssh
        cp testing/keys/* ~/.ssh/
        GO111MODULE=on go get sigs.k8s.io/kind@v0.7.0
        GO111MODULE=on go test -timeout 600s -v -p 1 ./...